.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / 0.8), rgb(0 0 0 / 0.7)), url(../public/img/header.jpg);
    padding: 5rem 0;
    background-size: cover;
    background-position: 50%;
    position: relative;
}
.barra {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media(min-width: 768px) {
    .barra {
        flex-direction: row;
        justify-content: space-between;
    }
}
.nav {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    position: relative;
    z-index: 1;
}
@media(min-width: 768px) {
    .nav {
        margin-top: 0;
    }
}
.nav a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5rem;
    margin: auto 0;
    transition-property: background-color;
    transition-duration: 0.3s;
}
.nav a:hover {
    background-color: var(--primary);
}
.modelo {
    color: var(--blanco);
    margin-top: 5rem;
    text-align: center;
}
@media(min-width:768px) {
    .modelo {
        text-align: left;
        width: 50%;
    }
}
.modelo h2 {
    font-size: 8rem;
}
.modelo p:first-of-type {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 2.2rem;
}
.precio {
    font-size: 6rem;
    color: var(--primary);
    font-weight: 900;
    line-height: 0;
}
.enlace {
    margin-top: 2rem;
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 900;
    color: var(--blanco);
    border: 2px solid var(--primary);
    padding: 1rem 5rem;
    transition-property: background-color;
    transition-duration: 0.3s;
}
.enlace:hover {
    background-color: var(--primary);
    color: var(--blanco);
}
.guitarra {
    display: none;
}
@media(min-width:992px) {
    .guitarra {
        display: block;
        position: absolute;
        right: 0;
        bottom: -8px;
        animation-name: mostrarImagen;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }
}

@keyframes mostrarImagen {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }
    100% {
        opacity: 1;
        transform: translateX(0rem)
    }
}

.cantidad {
    color: var(--blanco);
    background-color: red;
    border-radius: 50%;
    width: 2rem;
    font-size: 1.5rem;
    padding: 0.5px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 2px;
}
.linkq {
    position: relative;
}